.cont1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.cont2{
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.caja{
    height: 500px;
    width: 500px;
    border: 1px solid red;
    margin-right: 20px;
}
.caja1{
    background: red;
}

.caja2{
    background: blue;
}

.caja3{
    background: green;
}
