body{
    background-color: #f2ede7;
}
/*html {/*Delete flash of hyperlinks when is clicked in mobile
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }*/
.header{
    /*border: 1px solid red;*/
    top: 0;
    right: 0;
    display: flex;
    height: 150px;
    width: 100%;
    background-color: #292525;
    
    
}
#linkLogo{/*href of logo reference*/
    -webkit-user-drag: none;/*Delete drag link of logo*/
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 8px;
    width: 180px;
    height: 142px;
    background: url('Images/Uncocina.png') no-repeat; 
    
}

/*navBar AND BUTTONS*/
.navbar{
    list-style: none;
    display: flex;
    width: 100%;
}

.menu{
    padding: 0;
    margin: 0;
    height: 100%;
    z-index: 1;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.menu >li{ /*Buttons*/
    display: inline-block;
    width: 350px;
    text-align: center;
    height: 100%;
    text-decoration: none;
    
}

.menu > li > a{ /*Text buttons*/
    display: block;
    text-decoration: none;
    font-size: 23pt;
    color: white;
    font-family: 'Open Sans', sans-serif;
    top: 0;
    padding-top: 52px;
    padding-bottom: 50px;
    cursor: default;
    -webkit-user-drag: none;
}

.menu >li >a:hover { 
    border-bottom: 5px solid #39d4c8;
}

#botinicio{
    max-height: 150px;
}
#botinicio >a {
    cursor: pointer;
}

.menu >li:hover >a{
    background-color: white;
    color: black;
    border-bottom: 7px solid #39d4c8;
}

/*SUBMENUS BUTTONS*/
.submenu{
    position: absolute;
    padding: 0;
    margin-left: 0%;
    background: white;
    width: 20%;
    list-style: none;
    display: none;
}

.submenu > li > a{
    display: block;
    text-decoration: none;
    font-size: 18pt;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-left: 20px;

    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom:  1px solid transparent;
    border-top:  1px solid transparent;
    -webkit-user-drag: none;
}

.menu > li:hover .submenu{ 
    display: block;
    -moz-box-shadow: 2px 2px 3px #888, -2px 2px 3px #888;
    -webkit-box-shadow: 2px 2px 3px #888, -2px 2px 3px #888;
    box-shadow: 2px 2px 3px #888, -2px 2px 3px #888;
}

.submenu>li>a:hover{
    border-bottom:  1px solid #39d4c8;
    border-top: 1px solid #39d4c8;
    
}

.submenu>li>a>i{
    color: #2c2a2a;
    margin-right: 10px;
}

.submenu>li>a:hover i{
    margin-right: 60px;
}

.submenu>li>a:hover #meat{
    color: #7a1d00;

}

.submenu>li>a:hover #carrot{
    color: #e9692c;
}

.submenu>li>a:hover #icecream{
    color: #f4a0bd;
   
}

.submenu>li>a:hover .libro{
    color: #68392d;
}


/*SEARCHBAR*/

.buscador {
    display: block;
    margin-top: 54px;
    margin-left: 70px;
    height: 70px;
    max-width: 420px;
    flex-grow: 1;
    
}
.buscador input{
    height: 35px;
    width: 100%;
    background-color: #6a6a6a;
    color: white;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
}
.buscador input::placeholder{
    color: #d6d6d6;
    font-family:"FontAwesome";
    font-size: 15px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { /*Delete the cross of searchbar*/
  display: none; 
}

.buscador input:focus{
    outline: none;
}

.checkBoxBot{
    display: none; /*Hide the checkbox used for button*/
}

.labBotMenuResp{
    display: none;/*Hide label of checkbox used for button*/
}